body {
    margin: 0;
    padding: 0;
    background: #000;
   
}
.shadow h3 {
    position: relative;
    font-size: 42px;
    color: #fff;
    text-align: center;
    height: 70px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.shadow {
    display: block;
    bottom: -350px;
    left: -30%;
    position: relative;
    margin: 200px auto 0;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    width: 500px;
    height: 70px;
    text-align: center;
    background: linear-gradient(45deg,#1F618D,#641E16 );
    font-family: "Lobster", serif;
}

    .shadow:before {
        content: '';
        text-align: center;
        border-top-left-radius: 45px;
        border-bottom-right-radius: 45px;
       
        position: absolute;
        top: -2px;
        left: -2px;
        background: linear-gradient(45deg, #fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: animate 20s linear infinite;
    }

    .shadow::after {
        content: '';
        filter: blur(20px);
    }

@keyframes animate {

    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }

}
